.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 25px 80px;
}

.navbar-left .logo {
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-right .nav-links {
  font-size: 18px;
  list-style: none;
  display: flex;
}

.navbar-right .nav-links .nav-link {
  color: rgb(227, 222, 222);
  text-decoration: none;
  margin-right: 3rem;
  text-transform: uppercase;
}

.navbar-right .nav-links .nav-link:hover {
  color: rgba(223, 216, 216, 0.7);
}

.navbar-right .nav-links .nav-link:active {
  color: #ff3300;
}
