.about-us-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 120px;
}

.about-us-header {
  font-family: "Bebas Neue", system-ui;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.about-us-header h2 {
  font-size: 3rem;
}

.about-us-header h3 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 1.13px;
}

.about-us-header-white-space {
  display: block;
  padding: 12px;
}

.about-us-content {
  font-size: 14px;
  line-height: 24px;
  color: rgb(223, 216, 216);
}

.about-us-content-link {
  color: #ff6666;
}

.about-us-content-link:hover {
  color: #cc4c4c;
  text-decoration: none;
}

.about-us-content-hashtag {
  text-align: center;
  padding: 1.5rem;
}

.meet-the-crew-container h2 {
  font-family: "Bebas Neue", system-ui;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  font-size: 3rem;
}

.meet-the-crew-grid {
  display: grid;
  column-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
}

.meet-the-crew-each {
  text-align: center;
  align-items: center;
  margin: 2px;
}

.meet-the-crew-each p {
  margin-top: 2px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.meet-the-crew-grid img {
  width: 317px;
  height: auto;
  position: relative;
  cursor: pointer;
}
